html {
  font-size: 14px;
  background-color: #171717;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-color-1 {
  color: #FFFFFF;
  font-size: 1.2rem;
}

.text-color-2 {
  color: #C3C3C3;
}

.text-color-3 {
  color: #D6D6D6;
  font-size: 1.3rem;
  font-weight: bold;
}

.details-user-navlink-div {
  padding: 20px 15px;
}
.details-user-navlink-div-link {
  color: #C3C3C3;
  text-decoration: none;
}
.details-user-navlink-div-link:hover {
  color: #811AC0;
}

.details-user-informations-generic {
  margin: 0 30px;
  width: 13vw;
}
.details-user-informations-generic-display {
  display: none;
  margin-top: 1.2rem;
}
.details-user-informations-generic-display-unit {
  margin: 0.6rem 0;
}
.details-user-informations-generic-display-unit p {
  margin: 0.3rem 0;
}
.details-user-informations-generic:hover {
  cursor: pointer;
}
.details-user-informations-generic:hover .details-user-informations-generic-display {
  display: flex;
  flex-direction: column;
}
.details-user-informations-generic-title {
  border-bottom: 0.3rem solid transparent;
  text-align: center;
  padding-bottom: 0.5rem;
}
.details-user-informations-generic-title:hover {
  cursor: pointer;
  border-color: #811AC0;
}

.details-user {
  height: 100vh;
}
.details-user-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-user-profile-image img {
  border-radius: 50%;
  margin: 1.5rem 0;
}
.details-user-profile-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.details-user-line {
  border: 1px solid #2D2B2B;
  margin: 2rem 0 1.5rem 0;
}

.details-user-informations {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.border-home {
  border: 1px solid #2D2B2B;
  margin-bottom: 1.2rem;
  width: 99.8%;
}

.filter-user {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filter-user h1 {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
}
.filter-user-bar {
  margin: 1.5rem 0;
}
.filter-user-bar input[type=text] {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #C3C3C3;
  color: #FFFFFF;
  line-height: 3rem;
  padding: 0 0.8rem;
  outline: 0;
  width: 40vw;
}
.filter-user-bar input[type=text]:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.get-list-user {
  width: 96%;
}
.get-list-user-table {
  width: 100%;
  text-align: center;
}
.get-list-user-table thead {
  background-color: #811AC0;
  color: #FFFFFF;
  line-height: 1.5rem;
}
.get-list-user-table tbody tr {
  color: #D6D6D6;
}
.get-list-user-table tbody tr td {
  padding: 1rem 0;
  line-height: 2rem;
  vertical-align: middle;
  width: 14.2857142857%;
}
.get-list-user-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #2D2B2B;
}
.get-list-user-table-link {
  color: #811AC0;
  text-decoration: none;
}
.get-list-user-table-link:hover {
  cursor: pointer;
  color: #C3C3C3;
}

.pagination-menu {
  margin-top: 2rem;
}
.pagination-menu-list {
  display: flex;
}
.pagination-menu-list-li {
  list-style-type: none;
}
.pagination-menu-list-li-button {
  background-color: transparent;
  border: 1px solid #811AC0;
  border-radius: 50%;
  color: #C3C3C3;
  font-size: 1.2rem;
  margin-right: 3px;
  width: 2.8rem;
  height: 2.8rem;
}
.pagination-menu-list-li-button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #811AC0;
}

/*# sourceMappingURL=app.css.map */
